.ListItem {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  cursor: pointer;
}
input[type="checkbox"] {
  accent-color: #05e580;
  cursor: pointer;
  width: 15px;
  height: 15px;
  opacity: 0.6;
}

.Description {
  flex-grow: 1;
  margin-right: 10px;
  margin-left: 10px;
}
.IitemButtonContainer {
  display: flex;
  gap: 0.5rem;
}
.IconDelete {
  font-size: 20px;
  cursor: pointer;
  align-items: center;
}
.IconDelete:hover {
  color: red;
}
.IconEdit {
  font-size: 24px;
  cursor: pointer;
  align-items: center;
}

.IconSave {
  font-size: 18px;
  cursor: pointer;
  align-items: center;
}
.IconSave:hover {
  color: rgb(11, 202, 97);
}

.Close {
  color: #a09f9f;
  text-decoration: line-through;
  flex-grow: 1;
  margin-right: 10px;
  margin-left: 10px;
}
.InputToChange {
  width: 80%;
  border: none;
  height: 25px;
  font-size: 16px;
  background-color: #f8f4fb;
}
