@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: rgb(117, 92, 160);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.5) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  overflow: hidden;
}

p {
  color: red;
}
h1 {
  margin-bottom: 0px;
  text-align: center;
  font-weight: 1000;
  color: rgb(245, 30, 30);
  user-select: none;
}
h3 {
  text-align: center;
  user-select: none;
  margin-bottom: 50px;
}

.todo-wrapper {
  background: #f2e7ff;
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 85vh;
  overflow-y: auto;
  box-shadow: 0px 5px 8px rgb(112, 108, 104);
  border-radius: 20px;
  font-size: 18px;
}

.todo-input {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 1px solid rgb(125, 54, 3);
  padding-bottom: 25px;
  margin-left: 10px;
  margin-right: 5px;
}

.todo-input-item input {
  padding: 8px;
  border: none;
  width: 350px;
  height: 21px;
}

.todo-input-item input:focus {
  outline: 2px solid rgb(1, 247, 132);
}

.primary-btn {
  background-color: rgb(1, 247, 132);
  color: black;
  border: none;
  border-radius: 8px;
  margin-left: 5px;
  padding: 10px;
  width: 65px;
  height: 35px;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: rgb(4, 196, 106);
}
.primary-btn:active {
  background-color: rgb(1, 247, 132);
}

.todo-list {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

img {
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

@media (width < 600px) {
  .todo-input {
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
  }
  .todo-input-item input {
    width: 310px;
    justify-content: center;
  }
  .todo-wrapper {
    font-size: 16px;
    width: 90%;
  }
}
